{% extends 'base.html' %}
{% load static %}

{% block title %}首页{% endblock %}

<!--<link rel="stylesheet" type="text/css" href="Assets/css/reset.css"/>-->
<!--<script type="text/javascript" src="{% static 'assets/js/jquery-1.8.3.min.js' %}"></script>-->
<!--<link rel="stylesheet" type="text/css" href="Assets/plugins/FlexSlider/flexslider.css">-->
<!--<script type="text/javascript" src="{% static 'assets/plugins/FlexSlider/jquery.flexslider.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>-->
<!--<link rel="stylesheet" type="text/css" href="Assets/css/thems.css">-->
<!--<link rel="stylesheet" type="text/css" href="Assets/css/responsive.css">-->

<!--头部-->
<!--幻灯片-->
<!--<div class="banner">-->
<!--	<div class="slider">-->
<!--        <div class="flexslider">-->
<!--          <ul class="slides">-->
<!--            <li><a href=""><img src="{% static 'assets/upload/banner.jpg' %}" alt="" /></a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
{% block content %}
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="about">
    	<h1>机械工业</h1>
        <div class="about_m">
        	<p>中XXX械工业集团有限公司成立于1997年1月，简称“机械集团”，2013年7月与中国第二重型机械集团公司重组，成为中央直接管理的国有重要骨干企业，是世界五百强企业。机械集团是中XXX械工业规模最大、覆盖面最广、业务链最完善、研发能力最强的大型中央企业集团。拥有近50家全资及控股子公司，10家上市公司，140多家海外服务机构，全球员工总数近10万人。 </p>
           <p>
           	机械集团连续多年保持30%以上的高速增长，2012年营业收入达2142亿元；连续多年位居中XXX械工业企业百强榜首、国资委中央企业业绩考核A级企业。</p>
            <p>在贸易与服务业务方面，机械集团是中XXX电产品出口和国外先进技术和产品引进的重要窗口，是中国最大的汽车贸易和服务商，是中XXX械工业最大的进出口贸易企业。</p>
        </div>
    </div>
</div>
{% endblock %}